<input type="submit" id="closeSession-btn">CERRAR SESION</input>
<button class="botons" type="submit" id="privateSection-btn">SECCION PRIVADA</button>
    <article id="list-products">
      
    </article>
       
    <button class="botons" type="submit" id="closeSession-btn">CERRAR SESION</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/profile.js"></script>
